@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

body{
    background-color: #305050;
    color: #FFFFFF;
    font-family: Lexend Giga;
    text-align: center;
}

.cabecalho{
    border-bottom: 1px solid gray;
}
#nome-usuario{
    font-weight: bold;
}
.subtitulo{
    color: #FFA500;
}
.texto-ingles{
    text-decoration: italic;
}

.rodape{
    border-top: 1px solid gray;
}